<fieldset>
    <legend>Example</legend>
    <form name="form_fav" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Birth Certicate Number:</label>
            <div class="controls">
                <input type="text" ng-model="birthnumber" ng-change="change()" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Birth:</label>
            <div class="controls">
                <input type="text" ng-model="birth"  />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Kind:</label>
            <div class="controls">
                <input type="text" ng-model="kind"  />
            </div>
        </div>
    </form>
</fieldset>
